.page-header {
    height: 80px;
    position: relative;
    z-index: 100;
    background-color: #fafafa;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        background-color: #fafafa;
        padding: 20px;
    }
}