.page-header {
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #fafafa;
    &__wrapper {
        background-color: #fafafa;
        padding: 20px;
        border-bottom: 1px solid lighten(@dark-greycolor, 50%);
    }
    &__wrapper-two {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: @desktop-width) {
    .page-header {
        &__wrapper {
            display: block;
        }

        &__wrapper-two {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 960px;
            margin: 0 auto;
        }
    }
}