@font-face {
  font-family: "Oswald";
  src:
    url("../fonts/Oswald-Regular.woff2") format("woff2"),
    url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src:
    url("../fonts/Oswald-Bold.woff2") format("woff2"),
    url("../fonts/Oswald-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}


.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.main {
  z-index: 1;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
}

* {
  font-variant-numeric: lining-nums; 
  -moz-font-feature-settings: "lnum"; 
  -webkit-font-feature-settings: "lnum"; 
  font-feature-settings: "lnum";
}

.why, .about, .online-buying, .salons {
  &__wrapper {
    padding: 40px 20px 0 20px;
    position: relative;
  }

  &__title {
      font-size: 24px;
      color: @dark-greycolor;
      position: relative;
      z-index: 2;
      display: flex;
      align-items: end;
      height: 80px;
  }

  &__subtitle {
      display: inline-block;
      width: 280px;
      position: absolute;
      top: 0;
      font-family: Oswald;
      font-size: 90px;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 0;
      color: #ffffff;
      text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

      &::before {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-30%);
          width: 210px;
          height: 10px;
          background-color: @orangecolor;
          z-index: -1;
      }
  }
}

@tablet-width: 660px;
@desktop-width: 1200px;
@header-break: 1199px;

@orangecolor: #feac04;
@dark-greycolor: #444444;
@bluecolor: #75aeb7;


@media (min-width: @tablet-width) {
  .why, .about, .online-buying, .salons {
    &__wrapper {
      padding: 40px 60px 0 60px;
      position: relative;
    }
  }
}